:root {
  --ifm-color-primary: #1f6feb;
  --ifm-color-primary-dark: #1a5fcc;
  --ifm-color-primary-darker: #1859c0;
  --ifm-color-primary-darkest: #14499e;
  --ifm-color-primary-light: #357ef0;
  --ifm-color-primary-lighter: #4287f1;
  --ifm-color-primary-lightest: #669ef4;
}
